<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="consumerKey" value="3MVG9HxRZv05HarQBbOHEGBNaEI_dJGlZ2S4PE1wovFxjJmC94Woojr8FAkesbj70ANXNVjB9DB8G0fv8vrY1"/>
		<add key="consumerSecret" value="8556229712777576152"/>
		<add key="UAT" value="https://test.salesforce.com/services/oauth2/token"/>
		<add key="Sandbox" value="https://login.salesforce.com/services/oauth2/token"/>
	</appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>